.root {
  padding: 1em;
  .card {
    max-width: 1000px;
    margin: auto;
    margin-block-start: 3em;
    padding: 1em;
    .container {
      padding: 1em;
      display: flex;
      flex-direction: column;
      .col {
        flex: 50%;
        div {
          padding-bottom: 0.3em;
        }
        .code {
          color: lighten($color: #000000, $amount: 50%);
        }
        .price {
          padding-block-start: 3em;
          font-weight: bold;
        }
        img {
          width: 100%;
          max-width: 300px;
        }
      }
      @media screen and (min-width: 580px) {
        flex-direction: row;
      }
    }
  }
}
