<div class="root">
  <div
    class="crop-stars-container"
    [style.width.px]="starWidth"
    [title]="rating"
    (click)="onClick()"
  >
    <div class="stars-container static">
      <span class="star">
        <i class="material-icons">
          star_border
        </i>
      </span>
      <span class="star">
        <i class="material-icons">
          star_border
        </i>
      </span>
      <span class="star">
        <i class="material-icons">
          star_border
        </i>
      </span>
      <span class="star">
        <i class="material-icons">
          star_border
        </i>
      </span>
      <span class="star">
        <i class="material-icons">
          star_border
        </i>
      </span>
    </div>
    <div class="stars-container">
      <span class="star"
        ><i class="material-icons">
          star_rate
        </i></span
      >
      <span class="star"
        ><i class="material-icons">
          star_rate
        </i></span
      >
      <span class="star"
        ><i class="material-icons">
          star_rate
        </i></span
      >
      <span class="star"
        ><i class="material-icons">
          star_rate
        </i></span
      >
      <span class="star"
        ><i class="material-icons">
          star_rate
        </i></span
      >
    </div>
  </div>
</div>
